body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.register-container {
    max-width: 400px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 20px;
}